@model SecondHandMarketApp.ViewModels.Item.DetailsItemViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SellerPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SellerPhoneNumber)
        </dd>
    </dl>
    @foreach (var image in Model.Images)
    {
        <img src="@("~/images/" + image.ImageName)" asp-append-version="true" width="250" height="250"/>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
